@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

@font-face {
    font-family: rymfont;
    src: url(./assets/Rick-and-Morty-Font/get_schwifty.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(to right,#62236c 0%, #6565bf 50%, #3878af 100%);
}
.contenedor{
    /* margin: 2%;
    display:grid;
    grid-template-columns:33% 33% 33%;
    gap: 2%; */
    padding-top: 3%;
    display: flex;
}
.search-cont{
    display: flex;
}

h1{
    font-family: rymfont;
    margin: auto;
    color: #12b0c8;
    text-shadow: 1px 1px 2px #89a944;
    font-size: 4rem !important;
}
.tarjeta{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 25px;
    background-color: #fdfdfd77;
    margin-top: 5%;
    
}

.tarjeta h2{
    font-size: 2rem;
}
.tarjeta img{
    height: auto;
    width: 300px;
    border-radius: 25px;
    align-self: center;
}

.tarjeta p{
    padding: 1% 0;
    font-size: 1.5rem;
}

.tarjeta:hover{
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}
.Alive{
    background-color: rgb(52, 146, 52);
}
.Dead{
    background-color: rgb(197, 76, 76);
}
.unknown{
    background-color: rgb(143, 143, 143);
}
.genero{
    width: 48%;
    align-self: center;
    border-radius: 8px;
}
.circulo{
    background-color: red;
}
.boton{
    width: 50%;
    margin: auto;
    margin-bottom: 2%;
}
.detalles{
    display: flex;
    background-color: #fcfafa62;
    border: 2px solid green;
    border-radius: 25px;
    padding: 3%;
}

.detalles img{
    height: auto;
    border-radius: 25px;
}
.cont-detalles{
    padding-left: 10%;
}

.cont-detalles b{
    font-size: 2rem;
}
.cont-detalles h2{
    font-size: 1.5rem;
    border-bottom: 2px solid greenyellow;
}
.cont-detalles p{
    font-size: 1.5rem;
    border-bottom: 2px solid greenyellow;
}

#selector{
    margin-top: 2%;
    
    
}